monolog:
    channels: ['appli', 'security', 'doctrine']

    handlers:
        # Handler principal pour les logs de l'application
        main:
            type: fingers_crossed
            action_level: error
            handler: nested
            excluded_http_codes: [404, 405]
            buffer_size: 50 # How many messages should be saved? Prevent memory leaks
            channels: ["!event", "!doctrine"]

        nested:
            type: stream
            path: "%kernel.logs_dir%/%kernel.environment%.log"
            level: debug

        # Handler pour les logs de sécurité
        security:
            type: rotating_file
            path: '%kernel.logs_dir%/security/security.log'
            level: info
            max_files: 30
            formatter: monolog.formatter.line
            channels: ['security']

        # Handler pour les logs de Doctrine
        doctrine:
            type: rotating_file
            path: '%kernel.logs_dir%/doctrine/doctrine.log'
            level: debug
            max_files: 30
            formatter: monolog.formatter.line
            channels: ['doctrine']

        # Handler pour les logs de l'application (channel 'appli')
        fao:
            type: rotating_file
            path: '%kernel.logs_dir%/fao/fao.log'
            level: debug
            max_files: 20
            formatter: monolog.formatter.line

        # Handler pour les logs de développement (dev)
        dev:
            type: stream
            path: "%kernel.logs_dir%/%kernel.environment%.log"
            level: debug
            channels: ["!event"]

        # Handler pour la console
        console:
            type: console
            process_psr_3_messages: false
            channels: ["!event", "!doctrine", "!console"]

when@dev:
    monolog:
        handlers:
            # Handler pour les logs de développement
            main:
                type: fingers_crossed
                action_level: error
                handler: nested
                excluded_http_codes: [404, 405]
                channels: ["!event"]
            dev:
                type: stream
                path: "%kernel.logs_dir%/%kernel.environment%.log"
                level: debug
                channels: ["!event"]
            console:
                type: console
                process_psr_3_messages: false
                channels: ["!event", "!doctrine", "!console"]

when@test:
    monolog:
        handlers:
            # Handler pour les logs de test
            main:
                type: fingers_crossed
                action_level: error
                handler: nested
                excluded_http_codes: [404, 405]
                channels: ["!event"]
                processors:
                    - App\Logger\UserProcessor
            nested:
                type: stream
                path: "%kernel.logs_dir%/%kernel.environment%.log"
                level: debug

when@prod:
    monolog:
        handlers:
            main:
                type: fingers_crossed
                action_level: error
                handler: nested
                excluded_http_codes: [404, 405]
                buffer_size: 50 # How many messages should be saved? Prevent memory leaks
                processors:
                    - App\Logger\UserProcessor
            nested:
                type: stream
                path: php://stderr
                level: debug
                formatter: monolog.formatter.json
            console:
                type: console
                process_psr_3_messages: false
                channels: ["!event", "!doctrine"]
                processors:
                    - App\Logger\UserProcessor
            deprecation:
                type: stream
                channels: [deprecation]
                path: php://stderr
                formatter: monolog.formatter.json
                processors:
                    - App\Logger\UserProcessor